.button{
    background-color: #581C87;
    border: none;
    color: white;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    border: #581C87;
}
.button:hover{
    background-color: #C026D3;
}
button.button{
    padding: 10;
}