
.cart{
    width: 100vw;
    height: 90svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 20svh; */
    background-color:#FAF5FF;
    /* height: 90svh; */
    overflow-y: scroll;
    margin: 0;
    padding: 0;

}